<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="DBEntities" connectionString="metadata=res://*/DataFolder.DBModel.csdl|res://*/DataFolder.DBModel.ssdl|res://*/DataFolder.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-Q9BEC2K;initial catalog=user6;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>